%p.text-right
  = link_to "Download", export_evaluation_index_path, class: "btn btn-primary"

%table.table.table-bordered
  %tr
    %th Edit
    %th Term
    %th Subject
    %th Course
    %th Section
    %th Instructor
    %th Enrollment
    - (1..8).each do |num|
      %th
        = "Item #{num} mean"

  - @evaluations.each do |evaluation|
    %tr
      %td 
        = link_to "Edit", edit_evaluation_path(evaluation)
      %td
        = evaluation.term
      %td
        = evaluation.subject
      %td
        = evaluation.course
      %td
        = evaluation.section
      %td
        = link_to evaluation.instructor.name, instructor_path(id: evaluation.instructor.id)
      %td
        = evaluation.enrollment
      - (1..8).each do |num|
        %td
          = evaluation.method("item#{num}_mean".to_sym).call
